@*Gönderilen değer viewData dan okunabilir!!*@

@model int?

@{ 
    foreach (var item in ViewData)
    {
    <div>
        <label>item.key</label>
        <label>item.Value</label>
    </div>
       
    }
}

@Model