
@{
    Layout = null;
}
@model _75_MVC_Helper.Models.Personal
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>

    @*Model içerisindekini herhangi bir tag kullanmadan string olarak ekrana yazdırır.*@

    @Html.Display("NameAndSurname")

    <br />  

    

</body>
</html>
