
@{
    Layout = null;
}
@model _75_MVC_Helper.Models.Personal
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayFor</title>
</head>
<body>
    @Html.DisplayFor(t=>t.NameAndSurname)
</body>
</html>
